@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;600;700;900&display=swap");

$Color-navy-blue: #0c192c;
$Color-baby-blue: #4fc3dc;
$Color-transparent-baby-blue: #4fc3dc44;
$Color-pink: #ff2d75;
$Color-transparent-pink: #ff2d7544;
$Color-white: #fff;

$Color-green: #308f89;
$Color-mint-green: #d9f3f0;
$Color-transparent-mint-green: #d9f3f044;



// TEMPS
$Color-bg-gradient: no-repeat linear-gradient(to right bottom, #0f1624, #3a4051);
$Color-bg-navy: #0f1624;

$Color-grey-blue-light: #9dabcf;
$Color-grey-blue-dark: rgb(56, 71, 101);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "League Spartan", sans-serif;
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: $Color-navy-blue;
    color: $Color-mint-green;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
