@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "./base";
@import "./animation";
@import "./components/_nav";

.main {
    max-width: 114rem;
    margin: 14rem auto;

    &__section-intro {
    }

    &__header {
        font-size: 5rem;
        line-height: 1.1;
    }

    &__introduction-box {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 22rem;
    }

    &__intro {
        animation: moveInLeft 2s;
        max-width: 50rem;
    }

    &__introduction {
        margin-top: 3rem;
    }

    &__photo {
        animation: moveInRight 2s;
        & img {
            width: 32rem;
            border-radius: 50%;
        }
    }

    &__resume-btn:link,
    &__resume-btn:visited {
        font-size: 2rem;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        background-color: $Color-grey-blue-light;
        color: $Color-grey-blue-dark;
        padding: $Padding-btn;
        border-radius: 3rem;
        margin-top: 8rem;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        animation: moveInBottom 2s;
        transition: 0.3s;

        &:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
        }
        
        &:active {
            transform: translateY(0.1rem);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        }
    }

    &__section-projects {
        margin-top: 20rem;

        &-header {
            font-size: 5rem;
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &-card {
            text-align: center;
            margin: 4rem auto;
            max-width: 36rem;

            background-color: $Color-grey-blue-light;
            color: $Color-grey-blue-dark;
            border-radius: 1rem;
            overflow: hidden;
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);

            &-image {
                & img {
                    height: 28rem;
                    width: 100%;
                }
            }

            &-content {
                padding: 1rem 3rem 2rem 3rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            &-header {
            }

            &-description {
            }

            &-stack-used {
                font-weight: 700;
            }

            .proj--2 {
                margin-top: 5rem;
            }

            &-stack-list {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
            }

            &-buttons {
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
            }

            .btn-code:link,
            .btn-code:visited,
            .btn-source:link,
            .btn-source:visited {
                background-color: $Color-grey-blue-dark;
                color: $Color-grey-blue-light;
                display: inline-block;
                padding: $Padding-btn;
                border-radius: 0.8rem;
                transition: 0.3s;
                box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
            }

            .btn-code:hover,
            .btn-source:hover {
                transform: translateY(-0.3rem);
                box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
            }
            .btn-code:active,
            .btn-source:active {
                transform: translateY(0.2rem);
                box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
            }
        }
    }

    &__section-technologies {
        margin-top: 20rem;

        &-header {
            font-weight: 700;
            font-size: 5rem;
        }

        &-description {
        }

        &-skills {
            margin-top: 5rem;
            display: flex;
            gap: 20rem;
            justify-content: center;
        }

        .card-tech {
            background-color: $Color-grey-blue-light;
            color: $Color-grey-blue-dark;
            padding: 2rem;
            border-radius: .4rem;
            text-align: center;
            flex-basis: 30rem;
        }

        &-icons {
            display: flex;
            gap: 1rem;
            justify-content: center;

            & img {
                display: inline-block;
                width: 2.8rem;
            }
        }
    }

    &__section-about-me {
        margin-top: 20rem;

        &-header {
            font-size: 5rem;
        }
    }
}

.footer {
    max-width: 130rem;
    margin: 10rem auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__header {
    }

    .email {
        display: block;
    }
}
