@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  line-height: 1.6;
  background: #0f1624;
  color: #9dabcf;
  background-size: 500%;
  -webkit-animation: bg-animation 6s infinite alternate;
          animation: bg-animation 6s infinite alternate;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  80% {
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  80% {
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-bar {
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar__links {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav-bar__links li {
  transition: 0.3s;
  -webkit-animation: moveInTop 2s;
          animation: moveInTop 2s;
}
.nav-bar__links li:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}
.nav-bar__links li:active {
  transform: translateY(0.2rem);
}
.nav-bar__links a:link, .nav-bar__links a:visited {
  font-weight: 700;
  background-color: #9dabcf;
  color: rgb(56, 71, 101);
  border-radius: 3rem;
  padding: 0.8rem 2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}
.nav-bar__social-icons {
  display: flex;
  gap: 2rem;
}

.main {
  max-width: 114rem;
  margin: 10rem auto;
}
.main__header {
  font-size: 5rem;
  line-height: 1.1;
}
.main__introduction-box {
  display: flex;
  align-items: center;
  gap: 22rem;
}
.main__intro {
  -webkit-animation: moveInLeft 2s;
          animation: moveInLeft 2s;
  max-width: 50rem;
}
.main__introduction {
  margin-top: 3rem;
}
.main__photo {
  -webkit-animation: moveInRight 2s;
          animation: moveInRight 2s;
}
.main__photo img {
  width: 32rem;
  border-radius: 50%;
}
.main__resume-btn:link, .main__resume-btn:visited {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  background-color: #9dabcf;
  color: rgb(56, 71, 101);
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  margin-top: 8rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  -webkit-animation: moveInBottom 2s;
          animation: moveInBottom 2s;
  transition: 0.3s;
}
.main__resume-btn:link:hover, .main__resume-btn:visited:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}
.main__resume-btn:link:active, .main__resume-btn:visited:active {
  transform: translateY(0.1rem);
}
.main__section-projects {
  margin-top: 20rem;
}
.main__section-projects-header {
  font-size: 5rem;
}
.main__section-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__section-projects-card {
  margin: 4rem auto;
  max-width: 36rem;
  background-color: #9dabcf;
  color: rgb(56, 71, 101);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}
.main__section-projects-card-image img {
  height: 30rem;
  width: 100%;
}
.main__section-projects-card-content {
  padding: 1rem 3rem 2rem 3rem;
}
.main__section-projects-card-header {
  text-align: center;
}
.main__section-projects-card-description {
  margin-top: 1rem;
}
.main__section-projects-card-stack-used {
  text-align: center;
  margin-top: 1.4rem;
  font-weight: 700;
}
.main__section-projects-card-stack-list {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.main__section-projects-card .btn-code,
.main__section-projects-card .btn-source {
  background-color: rgb(56, 71, 101);
  color: #9dabcf;
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}
.main__section-projects-card-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.main__section-technologies {
  margin-top: 20rem;
}
.main__section-technologies-header {
  font-weight: 700;
  font-size: 5rem;
}
.main__section-technologies-skills {
  margin-top: 5rem;
  display: flex;
  gap: 20rem;
  justify-content: center;
}
.main__section-technologies-icons {
  display: flex;
  gap: 1rem;
}
.main__section-technologies-icons img {
  display: inline-block;
  width: 2.8rem;
}
.main__section-about-me {
  margin-top: 20rem;
}
.main__section-about-me-header {
  font-size: 5rem;
}

.footer {
  max-width: 130rem;
  margin: 10rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .email {
  display: block;
}/*# sourceMappingURL=main.css.map */