.nav-bar {
    margin: 4rem auto;
    max-width: 114rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;

    // .sticky {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    // }

    &__name {
    }

    // .sticky {
    //     position: fixed;
    //     top: 0;
    //     margin-top: 4.2rem;
    //     z-index: 999;
    // }

    &__links {
        list-style: none;
        display: flex;
        gap: 3rem;

        position: fixed;
        top: 0;
        margin-top: 4.2rem;
        z-index: 999;

        & li {
            transition: 0.3s;
            animation: moveInTop 2s;

            // position: relative;
        }

        & a:link,
        & a:visited {
            font-weight: 700;
            background-color: $Color-grey-blue-light;
            color: $Color-grey-blue-dark;
            border-radius: 3rem;
            padding: $Padding-btn;
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);

            // position: relative;
        }

        & li:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
        }

        & li:active {
            transform: translateY(0.1rem);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        }
    }

    &__social-icons {
        display: flex;
        gap: 2rem;
        margin-left: auto;
    }
}
