.nav-bar {
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__name {
    }
    &__links {
        list-style: none;
        display: flex;
        gap: 3rem;

        & li {
            transition: 0.3s;
            animation: moveInTop 2s;
        }

        & a:link,
        & a:visited {
            font-weight: 700;
            background-color: $Color-grey-blue-light;
            color: $Color-grey-blue-dark;
            border-radius: 3rem;
            padding: $Padding-btn;
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
        }

        & li:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
        }

        & li:active {
            transform: translateY(0.1rem);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        }
    }

    &__social-icons {
        display: flex;
        gap: 2rem;
    }
}
